.homepage-container {
  min-height: 100vh;
  background-color: #f9fafb;
}

.banner-section {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.banner-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.banner-slide.active {
  opacity: 1;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.banner-overlay .banner-title-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-overlay .banner-title-form button{
    width: 170px;
    background: #000;
    color: #fff;
    padding: 10px ;
    border-radius: 20px;
    border :none;
}

.search-section {
  padding: 20px;
  text-align: center;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}



.discount-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.flex {
  display: flex;
  gap: 6;
}


/* Categories.css */  
.categories-container {
  padding: 20px;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.categories-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.categories-list {
  display: flex;
  gap: 16px;
  animation: scrollLeft 20s linear infinite;
}

.category-item {
  flex-shrink: 0;
  width: 216px;
  position: relative;
}

.category-image-container {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.category-item:hover .category-image {
  transform: scale(1.1);
}

.category-item:hover .category-overlay {
  opacity: 1;
}

.category-info {
  color: white;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-button.left {
  left: 0;
}

.slider-button.right {
  right: 0;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    /* Cuộn hết danh sách */
  }

}

